<div class="container">

    <div class="panel panel-default">

    <div class="panel panel-default">
        <div  class= "panel-heading contacts-header">
            Svědek ženicha
        </div>

        <div  class= "panel-body contact-body">
            <img src="assets/c_m_1.PNG">
        </div>
    </div>

    <div class="panel panel-default">
        <div  class= "panel-heading contacts-header">
            Svědkyně nevěsty
        </div>

        <div  class= "panel-body contact-body">
            <img src="assets/c_b_2.PNG">
        </div>
    </div>

    <div class="panel panel-default">
            <div  class= "panel-heading contacts-header">
                Adresa
            </div>
    
            <div  class= "panel-body contact-body">
                V případě, že byste rádi snoubencům poslali přání, můžete jej poslat na adresu:<br>
                <br>
                <img src="assets/c_a_3.PNG">
                <br>
            </div>
        </div>
</div>

