<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Hepčík</div>
        <div class="panel-body">
        Snoubenci žádají hosty, aby je neobdarovávali řezanými kyticemi.<br>Hosté, co jsou zváni na oběd, nebo na večeři budou přát až v sále, viz. <a [routerLink]="['../harmonogram']">program svatby</a>.<br> Děkujeme! :-)
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Kudy z nudy?</div>
        
        <div class="panel-body">
                Nevíte, kam se vydat na výlet v okolí? Máme pro vás tip! Klikněte <a data-toggle="collapse" data-target="#tips" style="color:blue;">tu</a>.
                <div id="tips"class="collapse">
                    <a href="https://www.archeoparkchotebuz.cz/"><button class="btn btn-full">Archeopark Chotěbuz-Podobora</button></a>
                    <a href="http://dcm.doo.cz/aktualita/dekuj-vitej-vzpominej-348/"><button class="btn btn-full">Rozlučka ve Vsi</button></a>
                    <a href="https://www.skimosty.cz/"><button class="btn btn-full">Skiareál Mosty u Jablunkova</button></a>
                    <button class="btn btn-full">Přehrada těrlicko, žermanice  koupání</button>
                    <a href="https://mapy.cz/s/3ykOY"><button class="btn btn-full">Zámecký vrch v Cieszině ,Piastowská věž</button></a>
                    <a href="http://visitfm.cz/kam-ve-fm/pamatky/exkurze/237-exkurze-v-pivovaru-radegast"><button class="btn btn-full">Pivovar radegast</button></a>
                    <a href="https://mapy.cz/s/3ykPg"><button class="btn btn-full">Prašivá</button></a>
                    <a href="http://aquapark-olesna.cz/"><button class="btn btn-full">Aquapark olešná</button></a>
                    <a href="http://www.svatojanskavez.cz/prohlidka-veze/uvod/"><button class="btn btn-full">Galerie Svatojánská věž ve Frýdku</button></a>
                    <a href="https://mapy.cz/s/3ykPK"><button class="btn btn-full">Rozhledna kabátice, Chlebovice</button></a>
                </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Brrrmmmmmm</div>
        
        <div class="panel-body">
                Na vědomí dáváme, že z veselky budou k dispozici řidiči, kteří vás rádi a bezpečně dovezou zpět domů.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Jak se dostat do kostela?</div>
        
        <div class="panel-body">
                <iframe class="maps" src="https://api.mapy.cz/frame?params=%7B%22x%22%3A18.6214669%2C%22y%22%3A49.7493577%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fen.mapy.cz%2Fs%2Fkarosogepe%22%2C%22mark%22%3Anull%2C%22overview%22%3Afalse%7D&amp;width=400&amp;height=280&amp;lang=cz" frameBorder="0"></iframe>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Kde bude veselka?</div>
        
        <div class="panel-body">

                <iframe class="maps" src="https://api.mapy.cz/frame?params=%7B%22x%22%3A18.31891114951214%2C%22y%22%3A49.73459421762535%2C%22base%22%3A%221%22%2C%22layers%22%3A%5B%5D%2C%22zoom%22%3A17%2C%22url%22%3A%22https%3A%2F%2Fen.mapy.cz%2Fs%2Fgosatecara%22%2C%22mark%22%3A%7B%22x%22%3A%2218.31891114951214%22%2C%22y%22%3A%2249.73459421762535%22%2C%22title%22%3A%22M%C3%ADrov%C3%A1%2049%2C%20%C5%98epi%C5%A1t%C4%9B%22%7D%2C%22overview%22%3Afalse%7D&amp;width=400&amp;height=280&amp;lang=cz" style="border:none" frameBorder="0"></iframe>

            <div class="btns">
                <a href="http://www.umane.cz/"><button class="btn">Více informací</button></a>
            </div>
        </div>
    </div>


</div>