<div class="container default-font">
        <div style="margin-top: 25px;"></div>
    
        <div >
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="news-header" colspan="2" scope="col">Novinky</th>
                    </tr>
                </thead>
                
                <tbody>

                    <tr>
                        <th scope="row">31.8.</th>
                        <td>Snoubenci se stali manželi ❤<br>
                                <iframe width="80%" height="300" src="https://www.youtube.com/embed/RiG8i2TdtZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">10. - 11.8.</th>
                        <td>Snoubenci byli navráceni ke svým rodinám</td>
                    </tr>

                    <tr>
                        <th scope="row">9. - 10.8.</th>
                        <td>Snoubenci byli uneseni ozbrojeným komandem</td>
                    </tr>
    
                    <tr>
                        <th scope="row">31.7.</th>
                        <td>Založení webových stránek</td>
                    </tr>
    
                    <tr>
                        <th scope="row">9.12.2018</th>
                        <td>Zasnoubení Vaška a Markétky (viz. <a [routerLink]="['../story']">příběh našich snoubenců)</a></td>
                    </tr>
    
                    </tbody>
        </table>
    </div>
    </div>














<!-- <div class="container default-font" style="margin-top: 25px;">
    
    <div class="news-header">Novinky</div>

    <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">31.7.&emsp;Založení webových stránek</div>
              <div class="panel-body">9.12.2018&emsp;Zasnoubení Vaška a Markétky</div>
            </div>
          </div>

</div> -->