<div class="container default-font">
    <div style="margin-top: 25px;"></div>

    <div >
    <table class="table table-striped">
            <thead>
                <tr>
                    <th class="harmonogram-header" colspan="2" scope="col">Harmonogram</th>
                </tr>
            </thead>
            
            <tbody>

                <tr>
                    <th scope="row">11:45</th>
                    <td>Mše Svatá&emsp;<i>(mapu naleznete <a [routerLink]="['../info']">zde</a>)</i></td>
                </tr>

                <tr>
                    <th scope="row">14:00</th>
                    <td>Odjezd z kostela do Řepišť&emsp;<i>(mapu naleznete <a [routerLink]="['../info']">zde</a>)</i></td>
                </tr>

                <tr>
                    <th scope="row">15:00</th>
                    <td>Oběd (v rodinném kruhu)</td>
                </tr>

                <tr>
                    <th scope="row">16:15</th>
                    <td>Zákusek, kávička a focení s rodiči</td>
                </tr>

                <tr>
                    <th scope="row">16:45</th>
                    <td>Gratulace rodiny&emsp;<i>(nevíte co koupit? Koukněte <a [routerLink]="['../presents']">zde</a>)</i></td>
                </tr>

                <tr>
                    <th scope="row">17:30</th>
                    <td>Přátelé pozvaní na veselku</td>
                </tr>

                <tr>
                    <th scope="row">17:45</th>
                    <td>Tanec</td>
                </tr>

                <tr>
                    <th scope="row">17:45</th>
                    <td>Focení</td>
                </tr>

                <tr>
                    <th scope="row">19:30</th>
                    <td>Gratulace kamarádů</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <img width="100%" src="../../assets/harmonogram/invitation.png">
                    </td>
                </tr>

                </tbody>
    </table>
</div>
</div>