<div class="container">

    <div class="vertical-align-container">
        <div class="welcome-text countdown-container">
            <b>Jsme svoji!</b> Už {{wedCountdown.days}} dní, {{wedCountdown.hours}} hodin, {{wedCountdown.minutes}} minut a {{wedCountdown.seconds}} vteřin
        </div>
    </div>

    <img class="rounded welcome-image" src="assets/home_polaroid_vertical2.png"/>

    <div class="vertical-align-container">
        <div class="welcome-text">
            Vítáme Vás na našich webových stránkách! <br> <b>31. Srpna</b> jsme vykročili do společného života. Jsme rádi, že jste tento den prožili s námi.
        </div>
    </div>
    
</div>
