<div class="container">
    
    <div class="collapse" id="collapse_id">
        <div class="panel panel-default order-box">
            <div class="panel-heading order-panel-heading">Rezervace daru:</div>
            <div class="panel-body order-panel-body">
                Pro objednání daru, prosíme, zašlete email na adresu <b>mvsvatba@post.cz</b> a uveďte následující:<br>
                <ul>
                    <li>Jméno</li>
                    <li>Přijímení</li>
                    <li>Krátký popisek, odkud znáte ženicha/nevěstu</li>
                    <li>Který dar jste vybrali</li>
                </ul>
                <button style="box-shadow: 2px 1px grey; float:right;" class="btn" data-toggle="collapse" [attr.data-target]="'#collapse_id'">Zpět</button>
            </div>
        </div>
    </div>
        
    <div class="panel panel-default item-box" id="{{item.key}}" *ngFor="let item of items">
        <div class="panel-heading item-box-heading">{{item.name}}</div>
        <img class="taken rounded" *ngIf="item.taken" src="../../assets/presents/reserved.png">
        
        <div class="panel-body item-box-body">
            <div class="img-box">
                <img class="gift-img rounded" src="{{item.imgUrl}}">
            </div>

            <div class="right-box">
                <div class="desc-box">
                    {{item.desc}}<br>
                </div>

                <div class="btns">    
                    <div *ngIf="item.link">
                        <a href="{{item.link}}"><button class="btn">Prohlédnout zboží</button></a>
                    </div>
                    <div>
                        <button class="btn" data-toggle="collapse" [attr.data-target]="'#collapse_id'">Rezervovat!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>